<!--
 * @Description: 测试
 * @Author: chenhao
 * @Date: 2020-07-27 13:50:45
 * @LastEditTime: 2020-07-27 14:01:18
 * @LastEditors: chenhao
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>测试</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <script src="./js/jquery.min.js"></script>
    <script>
        let uniq6 = (array) => [...new Set(array)];
        let a = [1, 1, 2, 3]
        // alert(uniq6(a))

        // alert($.unique(a))

    </script>
</body>

</html>