<!--
 * @Description: 数据本地化
 * @Author: chenhao
 * @Date: 2020-07-28 14:33:46
 * @LastEditTime: 2020-07-28 14:34:50
 * @LastEditors: chenhao
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据本地化</title>
</head>

<body>
    <script>
        /*
        cookie:某些网站为了辨别用户身份而存储在本地终端上的数据。
        cookie大小受限，约为4k，并且每次请求一个新页面cookie都会被发送过去。这样会消费带宽。
        localStorage：存储大小约为4M.本地持久化的存储，浏览器关闭数据也不会删除。
        sessionStorage:存储大小约为4M.并非持久化的存储，浏览器关闭数据删除。
        */
    </script>
</body>

</html>