<!--
 * @Description: 浏览器渲染过程
 * @Author: chenhao
 * @Date: 2020-07-28 13:20:28
 * @LastEditTime: 2020-07-28 13:41:59
 * @LastEditors: chenhao
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浏览器渲染过程</title>
</head>

<body>
    <script>
        /*
        1.DNS解析:将域名地址解释为ip地址
            - 浏览器DNS缓存
            - 系统DNS缓存
            - 路由器DNS缓存
            - 网络运营商DNS缓存
            - 递归搜索
        2.TCP连接:三次握手
            1.浏览器发起,告诉服务器准备发送请求
            2.服务器发起,告诉浏览器可否发送
            3.浏览器发起,发送请求
        3.发送请求
            请求报文:HTTP协议的通信内容
        4.接受响应
            响应报文:
        5.渲染页面
            1.html:遇见HTML标记:浏览器调用HTML解析器解析成Token并构建成dom树
            2.遇见style/link标记:浏览器调用CSS解析器构建cssom树
            3.遇到script标记,调用js解析器,执行js代码,修改dom树和cssom树,绑定事件
            4.将dom树和cssom树合并成一render渲染树(不包含隐藏节点display:none)
                重绘:renderTree中元素更新属性,但不影响布局
                回流:renderTree中元素更新改变布局,回流至少一次(首次),必定引起重绘
            5.根据render渲染树计算布局,渲染页面
        6.断开连接:TCP四次挥手
            1.浏览器发起:告诉服务器请求报文发送完毕,准备关闭
            2.服务器发起,告诉浏览器请求报文接受完毕,准备关闭
            3.服务器发起,告诉浏览器响应报文发送完毕
            4.浏览器发起,告诉服务器响应报文接受完毕
        */
    </script>
</body>

</html>