<!--
 * @Description: 跨域
 * @Author: chenhao
 * @Date: 2020-07-28 12:39:49
 * @LastEditTime: 2020-07-28 15:00:28
 * @LastEditors: chenhao
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>跨域</title>
</head>

<body>
    <script>
        /*
         1.同源策略:
            -浏览器安全策略
            -协议名 域名 端口号 必须完全一致
        2.跨域:
            违背同源策略产生跨域
        3.解决方案:
            jsonp:
                需要前端和后端一起设置 script标签天然跨域
                需要服务的支持
                只能发起GET请求
            cors 
                规范化的跨域请求解决方案，安全可靠。
                优势：
                    在服务端进行控制是否允许跨域，可自定义规则
                    支持各种请求方式
                缺点：
                    会产生额外的请求

                CORS是一个W3C标准，全称是"跨域资源共享"（Cross-origin resource sharing）。

它允许浏览器向跨源服务器，发出XMLHttpRequest请求，从而克服了AJAX只能同源使用的限制。

CORS需要浏览器和服务器同时支持。目前，所有浏览器都支持该功能，IE浏览器不能低于IE10

浏览器端：

目前，所有浏览器都支持该功能（IE10以下不行）。整个CORS通信过程，都是浏览器自动完成，不需要用户参与。

服务端：

CORS通信与AJAX没有任何差别，因此你不需要改变以前的业务逻辑。只不过，浏览器会在请求中携带一些头信息，我们需要以此判断是否运行其跨域，然后在响应头中加入一些信息即可。这一般通过过滤器完成即可。


            服务器代理... :只需后端设置
        */

        // jsonp
        // 创建script标签
        var script = document.createElement('script');
        // 设置回调函数
        function getData(data) {
            // 数据请求返回时触发的函数
            console.log(data);
        }
        // 设置script的src请求地址属性
        script.src = 'http://localhost:3000?callback=getData';
        // 让script生效
        document.body.appendChild(script);
    </script>
</body>

</html>